<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="..\..\public\css\style-pageView.css">
        <title>Page View</title>
    </head>
    
    <body>
        <div class="container">
            <!--Top nav bar-->
            <div class="menuBar">
                <ul>
                    <li class="menuItem" ><a href="#">My Journal</a></li>
                    <li class="menuItem" ><a href="#">My Calendar</a></li>
                    <li class="menuItem" ><a href="#">My Settings</a></li>
                    <li class="signOut"><a href="/auth/logout">Sign Out</a></li>
                </ul>
            </div>
            <!--Side nav bar-->
            <nav class="sideBar">
                <div class="search">
                    <input type="text">
                </div>
                <div class="buttons">
                    <ul class="addDelete">
                        <li><button>Add</button></li>
                        <li><button>Delete</button></li>
                    </ul>
                    <ul>
                        <li>CSE101 Notes</li>
                    </ul>   
                </div>
            </nav>
            <!--Main Page-->
            <div class="newPageWrapper">
                <h1 class="mainTitle">Month Date, Year</h1>
                <ul>
                    <li>title 1</li>
                        <ul>
                            <li>MORE STUFF</li>
                            <li>MORE STUFF</li>
                            <li>MORE STUFF</li>
                            <li>MORE STUFF</li>
                        </ul>
                    <li>hello world files</li>
                        <ul>
                            <li>BLAH BLAH BLAH</li>
                            <li>BLAH BLAH BLAH</li>
                        </ul>
                </ul>
            </div>
        </div>
    </body>
</html>