<!DOCTYPE html>
<html>

<head>
    <title>My Calendar</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-calendar.css" />
</head>

<body>
    <div id="calendar"></div>
    <script type="text/javascript" src="/scripts/script-calendar.js"></script>
</body>

</html>