<!DOCTYPE html>
<html>

<head>
    <title>My Calendar</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-calendar.css" />
</head>

<body>
    <div class="menuBar">
        <ul>
            <li><a href="/main">My Journal</a></li>
            <li><a href="/calendar">My Calendar</a></li>
            <!--      <li><a href="#">Week View</a></li>
            <li><a href="#">Day View</a></li> -->
            <li><a href="#">My Settings</a></li>
            <li><a href="/auth/logout">Sign Out</a></li>
        </ul>
    </div>
    <div id="calendar"></div>
    <script type="text/javascript" src="/scripts/script-calendar.js"></script>
</body>

</html>