<link rel="stylesheet" href="/css/style-index.css">
<script src="/scripts/script-index.js" type="module"></script>

<p>Index page here!</p>
<ul>
    <li><a href="/main">GOTO main page</a></li>
</ul>

<a href="/login">Log out</a>