<!--
    Author: Yinxuan Du
    Date: May 23th
    HTML for add journal screen
-->
<!--<link rel="stylesheet" href="../public/css/style-journalAdd.css"> -->

<!--Side nav bar-->
        

<h1>Add a New Journal</h1>
<form action="/main/journal" method="POST">
    <div id="layerOne">
        <label id="titleLabel" for="title">Journal Name:</label>
        <input id="title" name="title" type="text">
    </div><br>

    <div id="layerTwo">
        <input type="submit" value="Add">
        <button><a href="/main">Cancel</a></button>
    </div>
</form>