<link rel="stylesheet" href="css/style-login.css">
<!-- <script src="scripts/script-login.js" type="module"></script> -->


<p>Login page here!</p>
<a href="/">Click here to login</a>

<body>
    <div id="green">
        <div id="login">
            <h1>Login</h1>
            <form id="loginForm">
                <div id = "input">
                    <label for="username" id="usernameLabel">UserName</label>
                    <input type="text" id="username" name="username"><br>
                </div>
                <div id = "input">
                    <label for="password" id="passwordLabel">Password  </label>
                    <input type="text" id="password" name="password"><br>
                </div>
                <input type="submit" id="loginButton" value="login">
                <div id="aunth">
                    <a href="/auth/google">
                        <img id="googleButton" src="/images/iconfinder_new-google-favicon_682665.ico">
                    </a>
                <!--    <input type="image" id="facebookButton" src="/images/iconfinder_2018_social_media_popular_app_logo_facebook_3225194.ico"> -->
                </div>
            </form>
        </div>
    </div>
</body>


