<!--
    Author: Jun Kim
    Date: May 17th
    HTML for login screen
-->
<link rel="stylesheet" href="/css/style-login.css">
<!-- <script src="scripts/script-login.js" type="module"></script> -->


<p>Login page here!</p>
<a href="/">Click here to login</a>

<body>
    <div class="green">
        <div class="login">
            <h1>Login</h1>
            <p>Something creative</p>
                <div class="aunth">
                    <a href="/auth/google">
                        <img class="googleButton" src="
                        /images/iconfinder_google_icon.ico">
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
