<!--
    Author: Hugo Huang
    Date: May 17th
    HTML for add page screen
-->
<link rel="stylesheet" href="../public/css/style-pageAdd.css">

<!--Side nav bar-->
        
<div id="newPageWrapper">
    <div id="rectangle"></div>
    <form id="newPage">
        <section id="layerOne">
            <label id="titleLabel" for="title">Title:</label>
            <input id="title" name="title" type="text"><br>
        </section>
        <section id="layerTwo">
            <label id="journalType">Journal Type:</label><br>
        </section>
        <section id="layerThree">
            <div><label id="contentLabel" for="content">Content:</label></div>
            <textarea>Some text...</textarea>
        </section>
        <section id="layerFour">
            <input type="submit" value="add">
        </section>
    </form>
</div>