<link rel="stylesheet" href="css/style-pageView.css">

<body>
    <div id="bigBox">
        <h1>Month Date, Year</h1>
        <ul>
            <li>Stuff to do</li>
            <li>blah blah blah</li>
        </ul>
    </div>
</body>