<link rel="stylesheet" href="css/style-pageAdd.css">

<body>
    <div id="newPageWrapper">
        <form id="newPage">
            <label id="titleLabel" for="title">Title:</label>
            <input id="title" name="title" type="text"><br>
            <label id="journalType">Journal Type:</label><br>
            <label id="contentLabel" for="content">Content:</label>
            <input type="text"> 
            <input type="submit" value="add">
        </form>
    </div>
</body>