<!--
    Author: Yinxuan
    Date: May 17th
    HTML main page (for testing).
-->
<!-- <link rel="stylesheet" href="/css/style-pageView.css"> -->
<h1>Page View</h1><br>
<b>Page Title:</b> {{page.title}}<br>
<b>Last Modified:</b> {{page.lastModified}}<br>
<b>Content:</b> {{page.content}}