<!--
    Author: Yinxuan
    Date: May 17th
    HTML main page (for testing).
-->
<!-- <link rel="stylesheet" href="/css/style-pageView.css"> -->
<h1>Page View</h1><br>
<b>Title:</b> {{page.title}}<br>
<p>{{page.content}}</p>