<link rel="stylesheet" href="/css/style-settings.css">

<div id="txt">Sample Text to Test Font Change</div><br>
<div class="font">
  <label for="fonts">Change font size:</label>
  <select onchange="changeFont(this);" id="selectFont">
  <option>8px</option>
  <option>10px</option>
  <option>12px</option>
  <option>14px</option>
  <option>16px</option>
  <option>18px</option>
  <option>20px</option>
  <option>22px</option>
  <option>24px</option>
</select>
</div><br>

<div class="mode">
  <label for="toggleMode">Click to change dark/light mode:</label>
  <button onclick="toggledarkmode()">toggle Dark mode</button>
</div>

<script src="/scripts/script-settings.js"></script>
</body>