<html>
    <head>
        <link rel="stylesheet" type="text/css" href="..\..\public\css\style-pageView.css">
    </head>
    
    <body>
        <div class="bigBox">
            <h1><div class="center">Month Date, Year</h1>
            <ul>
                <li>title 1</li>
                    <ul>
                        <li>MORE STUFF</li>
                        <li>MORE STUFF</li>
                        <li>MORE STUFF</li>
                        <li>MORE STUFF</li>
                    </ul>
                <li>hello world files</li>
                    <ul>
                        <li>BLAH BLAH BLAH</li>
                        <li>BLAH BLAH BLAH</li>
                    </ul>
            </ul>
        </div>
    </body>
</html>