body {
    background: linear-gradient(90deg, #FE9494  30%, rgba(0,0,0,0) 30%), linear-gradient(90deg, #97DDFB 70%, #B7F9B5 60%);
    min-width: 1200px;
    width: 95%;
    font-family: 'Mukta', sans-serif;
}

a{
    text-decoration:none;
    font-family: 'Mukta', sans-serif;
    color: black;
}

li{
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 6% 102%; 
    grid-template-areas:
        "menuBar menuBar";
}

.menuBar {
    grid-area: menuBar;
    position: -webkit-sticky; /*For Safari*/
    position: sticky;
    margin-bottom: 1vh;
}

.menuBar ul {
    width: 95%;
    display: inline-flex;
    border-color: black;
    border-style: solid;
}

.menuBar ul li {
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.menuItem{

    width: 30%;
    font-family: Roboto;
    font-size: 130%;
    line-height: 1vh;
    text-decoration-line: none;

}

.signOut{
    font-family: Roboto;
    font-size: 130%;
    line-height: 1vh;
}