/*
    Author: Aidan, Michael 
*/
body{
    color: rgb(24, 5, 5);
    background-color: #bcfc95;
    width: 99.1%;
    height: 90vh;
    min-width: 1200px;
    font-family: 'Mukta', sans-serif;
}

a{
    text-decoration:none;
    color: black;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
}

li{
    list-style: none;
}

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 25% 75%;
    grid-template-rows: 6% 102%; 
    grid-template-areas:
        "menuBar menuBar"
        "sidebar newPageWrapper";
}

.menuBar {
    grid-area: menuBar;
    background-color: lightyellow;
    position: -webkit-sticky; /*For Safari*/
    position: sticky;
    border-color: black;
    border-style: solid;
    margin-bottom: 1vh;
}

.menuBar ul {
    width: 95%;
    display: inline-flex;
    margin-top: 1vh;   
}

.menuBar ul li {
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
}

.menuItem{
    width: 30%;
    font-size: 130%;
    line-height: 1vh;
    text-decoration-line: none;
}

.signOut{
    font-size: 130%;
    line-height: 1vh;
}