#settingsBg{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
}
#settingsMain{
    position: fixed;
    width: 800px;
    height: 500px;
    border: 2px solid black;
    background-color: white;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -250px;
}
#closePopup{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
#closePopup p{
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
}
#popupTitle{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    border-bottom: 2px solid black;
}
.dark-mode {
    background: rgb(105, 102, 102);
    color: white;
}