/*
    Author: Jun
    Date: May 15th
    Added CSS for main menu.
*/

.newPage{
    display: block;
    margin: auto;
    min-width: 50vw;
    width: 85%;
    border: 1px solid #FEFFDE;
    border-radius: 10px;
    min-height: 71vh;
    height: 80%;
    background: #FEFFDE;
    font-family: 'Mukta', sans-serif;
    overflow: scroll;
}

.layerOne{
    min-width: 45vw;
    display: block;
    margin-left: 50px;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
}

button {
    width: 100px;
    height: 40px;
    margin: 3px;
    background: #E1F1DD;
    border-radius: 10px;
    border: 1px solid #FEFFDE; 
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 35px;
    font-family: 'Mukta', sans-serif;
}

.sub {
    width: 100px;
    height: 40px;
    margin: 10px;
    background: #E1F1DD;
    border-radius: 10px;
    border: 1px solid #FEFFDE; 
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 35px;
    font-family: 'Mukta', sans-serif;
}



